* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Verdana;
  font-size: 15px;
  background-color: transparent;
}

header {
  background-color: #c7ffd4;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  &.night-mode {
    background-color: #13303e;
    color: #b4ecc1;
  }
}

#switch-mode {
    height: 24px;
    width: 26px;

  &.night-mode {
    content: url("assets/sun-night-mode.png");
  }
}

h1 {
  font-size: 26px;
  color: #194357;

  &.night-mode {
    color: #b4ecc1;
  }
}

.header-buttons {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  outline: none;
  transition: 0.2s all;
}

.header-buttons:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

button:hover {
  cursor: pointer;
}

#button-container {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

#power {
  &.night-mode {
    content: url("assets/power-button-night-mode.png");
  }
}

body {
  height: 400px;
  width: 450px;
}

img {
  height: 32px;
  width: 32px;
}

#main {
  background-color: #b4ecc1;
  height: 550px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Permet le retour à la ligne si nécessaire */
  flex-direction: column;
  justify-items: center; /* Centre horizontalement les éléments */
  padding: 20px;
  gap: 20px;

  &.night-mode {
    background-color: #194357;
    color: #b4ecc1;
  }
}

.main-buttons {
  background-color: #c7ffd4;
  border: 1px solid #194357;
  border-radius: 8px;
  height: 75px;
  width: 150px;
  align-items: center; /* Centre verticalement les éléments */
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  outline: none;
  transition: 0.2s all;
}

.main-buttons:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.main-buttons:hover {
  background-color: #a1ddaf;
}

.action-button {
  height: 1em; /* Ajustez la hauteur selon vos besoins */
}

.container-button-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%; /* Chaque groupe occupe 45% de la largeur */
  text-align: center;
  gap: 10px;
}

#size-Police-Slider {
  padding: 0;                   /* nécessaire pour IE */
  font: inherit;                /* même rendu suivant font document */
  outline: none;
  color: #194357;                  /* sert pour couleur de référence, via currentColor, pour le curseur */
  opacity: .8;
  background: #CCC;             /* sert pour couleur de fond de la zone de déplacement */
  box-sizing: none;   
  transition: opacity .2s;
  cursor: pointer;
}
